.navbar {
    background-color: rgb(26, 23, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px 50px 50px 50px;
    box-sizing: border-box;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    position: relative;
    /* Needed for the dropdown positioning */
}

.navbar-menu a {
    display: block;
    padding: 15px 10px;
    color: whitesmoke;
    text-decoration: none;
}

.navbar-menu a:hover {
    background-color: rgba(82, 82, 82, 0.568);
    opacity: 69px;
    border-radius: 20px 20px 20px 20px;
    /* background-color: transparent; */
}

.dropdown {
    /* background-color: rgb(34, 173, 173); */
    position: absolute;
    z-index: 1000;
    top: 100%;
    /* Position the dropdown below its parent */
    left: 0;
    display: none;
    flex-direction: column;
    /* padding: 10px; */
    width: 500px;
    height: 300px;
    /* text-decoration: solid; */
    background-color: rgba(146, 140, 140, 0.267);
    border-radius: 75px 75px 50px 50px;
    filter: drop-shadow(100 100 100, White);
    align-items: center;
}

.dropdown li {
    display: flex;
    margin: 0 10px;
    color: aqua;
}

.navbar-menu li:hover>.dropdown {
    display: flex;
}

.navbar-logo img {
    height: 130px;
    width: 150px;
    background-color: rgb(37, 0, 37);
    filter: drop-shadow(20px 20px 20px #0000);
    border-radius: 25px 25px;
}

.navbar-buttons {
    display: flex;
}

.navbar-buttons .login-btn,
.navbar-buttons .signup-btn,
.navbar-buttons .search-btn {
    /* margin-left: 10px;
    padding: 10px 15px;
    color: black;
    background-color: rgb(192, 192, 192);
    border: none;
    cursor: pointer;
    border-radius: 50px 50px 50px 50px; */
    margin-left: 10px;
    padding: 10px 15px;
    color: rgb(189, 189, 189);
    background-color: rgb(58, 57, 57);
    border: none;
    cursor: pointer;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    height: min-content;
}

.navbar-buttons .login-btn:hover,
.navbar-buttons .signup-btn:hover,
.navbar-buttons .search-btn:hover {
    background-color: rgb(35, 65, 77);
}

#dcontent {
    display: flex;
}

#dcontent img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

#hbook h2 {
    margin-left: 30px;
    color: white;
}

#hfilm h2 {
    margin-left: 30px;
    color: white;
}

#experience h2 {
    margin-left: 30px;
    color: white;
}

#experience img {
    border-radius: 50px 0px 50px 0px;
}

.dropdown li {
    flex-direction: column;
    /* Arrange items in a column */
    align-items: center;
    /* Align items at the center horizontally */
    text-align: center;
    /* Align text at the center */
}
/* for quizz */

#qcontent {
    display: flex;
}

#qcontent img {
    max-width: 60%;
    max-height: 60%;
    border-radius: 8px;
}

#quizz h2 {
    margin-left: 60px;
    color: white;
}

#puzzle h2 {
    margin-left: 55px;
    color: white;
}

.dropdown li {
    /* Other styles */
    flex-direction: column;
    /* Arrange items in a column */
    align-items: center;
    /* Align items at the center horizontally */
    text-align: center;
    /* Align text at the center */
}

#herosection {
    height: 1000px;
    width: 100%;
    background-color: antiquewhite;
    background-size: cover;
    background-image: url("https://scadconnector.com/wp-content/uploads/2023/04/HPX_Poster.jpeg");
    /* background: radial-gradient(#ff5733, #ffc300, #a8df8e, 250px); */
    border-radius: 75px 0px 0px 75px;
}

#container {
    width: 100%;
    background-color: #0e5e80;
    display: flex;
}

#left {
    height: 600px;
    width: 60%;
    background-color: #1b88b3;
}

#right {
    height: 600px;
    width: 40%;
    background-color: #1b88b3;
}

#ltop {
    display: flex;
    height: 50%;
    width: 100%;
    background-color: #402c2c;
}

#ldown {
    display: flex;
    height: 50%;
    width: 100%;
    background-color: #971818;
}

#f1 {
    height: 100%;
    width: 50%;
    background-color: #333;
}

#f2 {
    height: 100%;
    width: 50%;
    background-color: #3d934e;
}

#f3 {
    height: 100%;
    width: 50%;
    background-color: #1675c8;
}

#f4 {
    height: 100%;
    width: 50%;
    background-color: #d627a2;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: 50%;
}

.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    padding: 0 20px 20px;
    font-size: 16px;
    color: #555;
}



    
.slider-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: #ffffff;
}

.slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

button:disabled {
    background-color: #333;
    cursor: not-allowed;
}

.slide {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.product-item {
    flex: 0 0 25%;
    max-width: 25%;
    display: none; /* Initially hide all items */
    padding: 10px;
    box-sizing: border-box;
}

.product-item img {
    width: 100%;
}

.product-item p {
    margin: 10px 0;
}

.product-item button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #4500a0;
}





footer {
    background-color: #030129;
    /* Dark Gray background */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Center text */
    padding: 20px 0;
    /* Padding above and below the footer text */
}

footer ul {
    list-style: none;
    /* Remove default list styling */
    display: flex;
    /* Align list items in a row */
    justify-content: center;
    /* Center list items horizontally */
    gap: 20px;
    /* Space between list items */
    padding: 0;
    /* Remove default padding */
}

footer ul li a {
    color: #fff;
    /* White text color for links */
    text-decoration: none;
    /* Remove underline from links */
}

@font-face {
    font-family: 'Harry Potter';
    src: url('https://cdn2.hubspot.net/hubfs/678613/Projects/Harry%20Potter%20Battle%20Game/ParryHotter.ttf') format('truetype')
}

body {
    background-color: black;
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h1 {
    color: black;
    font-family: 'Harry Potter';
    font-size: 40px;
    text-align: center;
}

#wrap {
    background-color: rgba(21, 20, 20, 0.712);
    height: 1000px;
    width: 100%;
}

.sorting-hat {
    position: relative;
    top: 30%;
    left: 50%;
    width: 500px;
    height: auto;
    margin-top: -250px;
    margin-left: -250px;
    text-align: center;
    filter: brightness(101%);
}

.sorting-hat img {
    height: 100;
    width: 100%;
}

.sorting-hat p {
    color: green;
    text-align: center;
}

.sortbutton {
    margin-left: 10px;
    padding: 10px 15px;
    color: rgb(189, 189, 189);
    background-color: rgb(58, 57, 57);
    border: none;
    cursor: pointer;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    height: min-content;
}

#pollcontainer {
    background-color: #0c0c1b;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 600px;
}

#top {
    background: linear-gradient(to right, #ff8c00, #ffa500);
    padding: 20px;
    text-align: center;
    color: #000;
    border-radius: 15px 15px 0 0;
}

#display {
    background-color: #2c2c54;
    padding: 20px;
    height: 100%;
    border-radius: 10px;
}

.poll-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0;
}

.poll-bar {
    background-color: #444;
    border-radius: 10px;
    width: 60%;
    height: 20px;
    margin: 0 10px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.poll-fill {
    background: linear-gradient(to right, #ff8c00, #ffa500);
    height: 100%;
    border-radius: 10px;
}

.poll-percent {
    min-width: 40px;
    text-align: right;
    font-weight: bold;
    color: #fff;
}
